<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
    <title><%= game.name %></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	<!-- Wrapper -->
	<div class="wrapper style1">
		<!-- Header -->
		<div id="header" class="skel-panels-fixed">
			<div id="logo">
				<h1><a href="/">Gamma</a></h1>
				<span class="tag">by Brutally Average</span>
			</div>
			<nav id="nav">
				<ul>
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/game/new">New Game</a></li>
		            <% if (user !== undefined) { %>
                    <li><a href="/login" onclick="signout()">Signout</a></li>
                    <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <% } %>
				</ul>
			</nav>
		</div>
		<!-- Header -->

		<!-- Page -->
		<div id="page" class="container">
			<div class="row">

			<!-- Sidebar -->
			<div id="sidebar" class="4u">
				<section>
					<header class="major">
						<h2>Rate this game!</h2>
						<h4>Rating: <%= game._averageRating %> / 5 </h4>
					</header>
				   	<form id="rating-form" class="form">
					 	<fieldset>
					 		<input type="radio" name="rating" value="1"> 1
					 		<input type="radio" name="rating" value="2"> 2
					 		<input type="radio" name="rating" value="3"> 3
					 		<input type="radio" name="rating" value="4"> 4
					 		<input type="radio" name="rating" value="5" checked> 5
					 		<button id="rating-button" type="submit" method="post" class="pure-button pure-button-primary">Submit</button>
					 </form>
				</section>
<!--
			<section>
				<header class="major">
					<h2>Screenshots</h2>
				</header>
			</section>
-->
				<section>
					<header class="major">
						<h2>Game Info</h2>
					</header>
					<ul class="default">
	                    <li>Collaborators:
	                    	<% game.Users.forEach(function(user) { %>
	                    		<a href="#"><%= user.username %></a>
	                    	<% }); %>
	                    </li>
	                    <li>Upload Date: <%= game.uploadDate %></li>
	                    <li>Genre: <%= game.Genre.name %></li>
	                    <li>Platform: <%= game.Platform.name %></li>
	                    <li>License: <%= game.License.type %></li>
					</ul>
					</section>
	                <section>
	                    <header class="major">
	                        <h2>Download!</h2>
	                    </header>
	                    <ul class="default">
	                        <img href="#" src="/assets/images/download.png" height="150px" width="150px"/>
	                    </ul>
	                </section>
				</div>
				
				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header class="major">
       						 <h2><%= game.name %></h2>
        					 <span class="byline"><%= game.shortDesc %></span>
						</header>
					</section>
					<section>
   						 <h3>Comments</h3>
   						 <% game.Comments.forEach(function(comment) { %>
   						 <div><%= comment.User.username %>: <%= comment.comment %></div>
   						 <%	}) %>
   						 <form id="comment-form" class="form">
   						 	<fieldset>
   						 		<legend>Add comment</legend>
   						 		<textarea id="comment-field" name="comment" placeholder="Nice game!"></textarea>
   						 		<button id="comment-button" type="submit" method="post" class="pure-button pure-button-primary">Submit</button>
   						 </form>
					</section>
				</div>
			</div>
		</div>
		<!-- /Page -->
		<!-- Copyright -->
		<div id="copyright">
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
		</div>
		<script>
		$("#comment-button").on('click', function (evt) {
			var comment = $('#comment-field').val();
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/api/game/<%= game.id %>/comment",
                data: {
                	comment: comment,
                	gameId: <%= game.id %>
                },
                success: function(res){
                    window.location.reload();
                },
                error: function(){
                	console.log('error');
                }
            });
      	});

      	$("#rating-button").on('click', function (evt) {
			var rating = $('input[name=rating]:checked', '#rating-form').val();
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/api/game/<%= game.id %>/rating",
                data: {
                	rating: rating,
                	gameId: <%= game.id %>
                },
                success: function(res){
                    window.location.reload();
                },
                error: function(){
                	console.log('error');
                }
            });
      	});
		</script>
	</body>
</html>
